* {
    box-sizing: border-box;
}

body {
    background-color: darkorange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.wrapper {
    background-color: white;
    border: 5px solid black;
    font-size: 18px;
    padding: 2%;
    width: 80%;
    margin-top: 20px;
}
